<launch>    
    <node name= "testing" pkg="race" type="testing" output="screen" respawn="true" />
        <param name="calibration_x_intercept" value="0.7669" />
        <param name="calibration_y_intercept" value="-0.0927" />
        <param name="calibration_z_intercept" value="0" />
        <param name="calibration_x" value="6.0207" />
        <param name="calibration_y" value="6.408" />
        <param name="calibration_z" value="6.3" />

        <param name="max_xy" value="4.0" />
        <param name="min_xy" value="0.03" />
        <param name="max_z" value="0.15" />
        <param name="acc_xy" value="0.008" />
        <param name="acc_zz" value="0.001" />

        <param name="kp" value="0.8" />
        <param name="fod_xy" value="0.3" />   <!--fraction of deceleration: start decel-->
        <param name="fod_z" value="0.3" />   <!--fraction of deceleration: start decel-->
        <param name="kp_xy" value="0.8" /> <!--p gain for x- y-direction control-->
        <param name="kp_z" value="0.8" />  <!--p gain for z-direction control-->

        <param name="x_tol_margin" value="0.5" /> <!-- x tolerance critical value -->
        <param name="y_tol_margin" value="0.5" /> <!-- y tolerance critical value -->
        <param name="z_tol_margin" value="0.02" /> <!-- z tolerance critical value -->


    <node name= "serial_arduino" pkg= "rosserial_python" type="serial_stm.py" output="screen"/>

</launch>
